asgiref==3.8.1
boto3==1.34.131
botocore==1.34.131
dj-database-url==2.2.0
Django==5.0.6
django-heroku==0.3.1
django-storages==1.14.3
gunicorn==22.0.0
jmespath==1.0.1
packaging==24.1
pillow==10.3.0
psycopg2-binary==2.9.9
razorpay>=1.4.2,<2
sqlparse==0.6.0
typing_extensions==4.12.2
whitenoise==6.7.0
