<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Ecom</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNVJFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'store' %}">Ecom</a>
        <div class="ml-auto d-flex align-items-center">
            <a class="btn btn-warning mr-3" href="#">Login</a>
            <a href="{% url 'cart' %}" class="d-flex align-items-center">
                <img id="cart-icon" src="{% static 'images/cart.png' %}" alt="Cart">
                <span id="cart-total" class="badge badge-light ml-1">{{ cart_items|default:0 }}</span>
            </a>
        </div>
    </div>
</nav>

<div class="container mt-4">
    {% block content %}{% endblock content %}
</div>

<script>
    const user = "{{ request.user|escapejs }}";
    const csrftoken = "{{ csrf_token }}";
</script>
<script src="{% static 'js/cart.js' %}"></script>
</body>
</html>
